name: Test SSH Connection

on:
  workflow_dispatch:

jobs:
  ssh-test:
    runs-on: ubuntu-latest
    steps:
      - name: Test SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.EC2_DEPLOY_KEY }}" > ~/.ssh/test_key
          chmod 600 ~/.ssh/test_key
          ssh -v -o StrictHostKeyChecking=no -i ~/.ssh/test_key ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} "echo SUCCESS"